<% content_for :title do %>
  Food Log &ndash; <%= DateTime.now.to_formatted_s(:long_ordinal) %>
  <%end%>

<div class="columns mt-6 ">
<div class="is-flex is-flex-wrap-wrap is-justify-content-center"
  <div id="entries">
    <% @entries.each do |entry| %>
     <div class="column is-one-quarter">
      <%= render entry %>
        <div class="card">
          <div class="card-footer">
           <%= link_to "Show this entry", entry, class:"card-footer-item button is-success mt-1 is-light" %>
          </div>
        </div>
     </div> 
    <% end %>
    </div>
  </div>


</div>
<div class="columns is-centered mt-6">
<%= link_to "View all Entries", archives_index_path, class:"button is-link is-outlined is-cenntered mb-5"%>
</div>